services:
  postgres:
    image: postgres:17-alpine
    container_name: kestra-postgres
    environment:
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: kestra
      POSTGRES_DB: kestra
    ports:
      - "5434:5432"
    volumes:
      - kestra_pgdata:/var/lib/postgresql/data

  kestra:
    image: kestra/kestra:latest
    container_name: kestra
    command: server standalone
    depends_on:
      - postgres
    ports:
      - "8088:8080"
    environment:
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: kestra
            password: kestra

        kestra:
          repository:
            type: postgres
          queue:
            type: postgres
          storage:
            type: local
            local:
              basePath: "/tmp/kestra-storage"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - kestra_storage:/tmp/kestra-storage

volumes:
  kestra_pgdata:
  kestra_storage:
